### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.  Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')

In [3]:
ratings = ratings[ratings['rating'] == 5.0]

In [4]:
top_movie_id = ratings['movieId'].mode().to_list()
top_movie_id

[318]

In [5]:
movies = pd.read_csv('movies.csv')

In [6]:
top_movie_name = movies.query('movieId == {}'.format(top_movie_id[0]))

In [7]:
top_movie_name

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
power = pd.read_csv('power.csv')

In [9]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
power_filtered = power[
    (
        (power['country'] == 'Latvia') |
        (power['country'] == 'Lithuania') |
        (power['country'] == 'Estonia')
    ) &
    (
        (power['category'] == 4) |
        (power['category'] == 12) |
        (power['category'] == 21)
    ) &
    (
        (power['year'] >= 2005) &
        (power['year'] <= 2010)
    ) &
    (power['quantity'] > 0)
]

In [11]:
total = power_filtered['quantity'].sum()
total

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [13]:
data = pd.read_html('https://fortrader.org/quotes')[4]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Google Акции Google (GOOGL),2 275.55,-2.83,-0.12,NaN
1,IBM Акции IBM (IBM),142.01,-2.67,-1.85,NaN
2,Microsoft Акции Майкрософт (MSFT),241.81,-6.34,-2.55,NaN
3,Apple Акции Apple (AAPL),124.71,-2.74,-2.15,NaN
4,Yandex Акции яндекса,63.55,0.12,0.19,NaN